@using SimpleFormBuilder.Entity
@using SimpleFormBuilder.Models

@model PersonListModel

<a class="btn btn-primary col-1 my-2" href="@Url.Action("Add", "Person")">Add</a>

@if (Model.Persons.Any())
{
    var count = 1;
    <table class="table table-info table-striped table-hover">
        <thead>
        <tr>
            <th scope="col" class="col-1">#</th>
            <th scope="col" class="col-2">@nameof(Person.FirstName)</th>
            <th scope="col" class="col-2">@nameof(Person.LastName)</th>
            <th scope="col" class="col-1">@nameof(Person.ChildCount)</th>
            <th scope="col" class="col-1">@nameof(Person.BirthDate)</th>
            <th scope="col" class="col-1">@nameof(Person.Picture)</th>
            <th scope="col" class="col-2">@nameof(Person.Tags)</th>
            <th scope="col" class="col-2">Action</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Persons)
        {
            <tr>
                <th scope="row">@count</th>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.ChildCount</td>
                <td>@(item.BirthDate?.ToString("yyyy-MM-dd"))</td>
                <td>
                    @if (item.Picture != null)
                    {
                        <img src="data:Image;base64,@Convert.ToBase64String(item.Picture)" alt="" width="30px" height="100px"/>
                    }
                </td>
                <td>@item.TagsList</td>
                <td>
                    <a class="btn btn-success" href="@Url.Action("Detail", "Person", new { id = @item.Id })">Edit</a>
                    <a class="btn btn-danger" href="@Url.Action("Delete", "Person", new { id = @item.Id })">Delete</a>
                </td>
                @{ count++; }
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning" role="alert">
        No person exist!
    </div>
}